<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" 
            data-ng-init="menuCollapsed=true" 
            data-ng-click="menuCollapsed=!menuCollapsed" 
            data-toggle="collapse" 
            data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Something Wanted PoC</a>
        </div>
        <div class="navbar-collapse collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home"><i class="fa fa-home"></i> Home</a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about"><i class="fa fa-info-circle"></i> About</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href ui-sref="listings.getListings">All Listings</a></li>
                <li><a href="#">Another Action</a></li>
                <li><a href="#">Yet Another Action</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">A Subsection</li>
                <li><a href="#">Some Subaction</a></li>
                <li><a href="#">Another Subaction</a></li>
              </ul>
            </li>
            <li class="navbar-text">
              <span><i class="fa fa-lg fa-envelope-o"></i></span>
            </li>
          </ul>
          <div class="navbar-form navbar-right">
            <a href ui-sref="listings.createListing"
              class="btn btn-success">
              Create New Listing
            </a>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Default NGBP Nav -->
    <!--<div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            ngbp
            <small>
              <a href="http://github.com/ngbp/ngbp/blob/v<%= version %>-release/CHANGELOG.md">
                v<%= version %>
              </a>
            </small>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <i class="fa fa-info-circle"></i>
                What is it?
              </a>
            </li>
            <li>
              <a href="https://github.com/ngbp/ngbp#readme">
                <i class="fa fa-book"></i>
                Read the Docs
              </a>
            </li>
            <li>
              <a href="https://github.com/ngbp/ngbp">
                <i class="fa fa-github-alt"></i>
                Github
              </a>
            </li>
            <li>
              <a href="https://github.com/ngbp/ngbp/issues">
                <i class="fa fa-comments"></i>
                Support
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>--> <!-- End default NGBP Nav -->

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a href="#">Footer One</a></li>
            <li><a href="#">Footer Two</a></li>
            <li><a href="#">Footer Three</a></li>
            <li><a href="#">Footer Four</a></li>
          </ul>
          
          <div>
            <p class="copy">&copy;<script>document.write(new Date().getFullYear());</script> B&amp;G, LLC</p>
            <p class="footerlinks">
              <a href="/">Home</a> |
              <a href ui-sref="about">About</a> |
              <a href>News</a> |
              <a href>Contact Us</a> |
              <a href>Privacy Policy</a>
            </p>     
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
